<div class="field">
  <label class="label">
    {{ label }}
  </label>
  <input
    [ngClass]="{ 'is-danger': showErrors() }"
    class="input"
    [formControl]="control"
  />
  <ng-container *ngIf="showErrors()">
    <div class="help is-danger" *ngIf="control.errors?.['required']">
      Value is required
    </div>
    <div *ngIf="control.errors?.['minlength']" class="help is-danger">
      Value must be longer:
      {{ control.errors?.["minlength"]?.["requiredLength"] }}
      characters long
    </div>
    <div *ngIf="control.errors?.['maxlength']" class="help is-danger">
      Value must be shorter:
      {{ control.errors?.["maxlength"]?.["requiredLength"] }}
      characters long
    </div>
    <div *ngIf="control.errors?.['pattern']" class="help is-danger">
      Not valid format
    </div>
  </ng-container>
</div>
